<!DOCTYPE html>
<html lang="en" class="">

<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <!-- Required meta tags -->

   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <title>Coming Soon!</title>
   <!-- Favicon -->
   <link rel="shortcut icon" href="https://iqonicthemes.com/themes/vizion/chatbot/images/favicon.ico">
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="./vizion/bootstrap.min.css">
   <!-- Typography CSS -->
   <link rel="stylesheet" href="./vizion/typography.css">
   <!-- Style CSS -->
   <link rel="stylesheet" href="./vizion/style.css">
   <!-- Responsive CSS -->
   <link rel="stylesheet" href="./vizion/responsive.css">
</head>

<body class=" app-no-scrollbar" style="background-image: url({{ url_for('static', filename='img/science.jpg')}});">


   <h1 style="text-align: center;margin-top:300px;color: white;font-size: xx-large;font-weight: bold;">Coming Soon!</h1>






   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="./vizion/jquery-3.3.1.min.js"></script>
   <script src="./vizion/bootstrap.min.js"></script>
   <!-- main -->
   <script src="./vizion/main.js"></script>
   <!-- Custom -->
   <script src="./vizion/custom.js"></script>

</body>

</html>